@import "normalize-scss";
@import "global";
@import "typo";


html {
  box-sizing: border-box;
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  font: normal normal #{$font-size}/1.5 "Plex Sans", sans-serif;
  color: $color-black;

  > * {
    @include min-width($medium) {
      font-size: 1.25rem;
    }
  }

  #app {
    margin: $spacing $spacing / 2;
  }

  h1, h2 {
    font-family: "Plex Mono", sans-serif;
    color: $color-accent;
  }
  h1 {
    font-size: 2.4em;
  }

  p {
    margin: $spacing / 2 0;
    hyphens: auto;
  }
  .scrolly p {
    margin: 0;
  }

  .blur {
    background: transparentize($color-white, 0.15);

    @supports (
      (-webkit-backdrop-filter: saturate(180%) blur(20px))
        or (backdrop-filter: saturate(180%) blur(20px))
    ) {
      background: transparentize($color-white, 0.3);
      -webkit-backdrop-filter: saturate(180%) blur(10px);
      backdrop-filter: saturate(180%) blur(10px);
    }
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity $transition;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: $spacing * 0.5;
    cursor: pointer;
    box-shadow: none;
    background: #eeeeee;
    border-radius: 1px;
    border: 0px solid rgba(0, 0, 0, 0);
  }
  input[type=range]::-webkit-slider-thumb {
    border: none;
    box-shadow: none;
    height: $spacing * 0.5;
    width: $spacing;
    border-radius: 0px;
    background: $color-green;
    cursor: pointer;
    -webkit-appearance: none;
    // margin-top: -11px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $color-green;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: $spacing * 0.5;
    cursor: pointer;
    box-shadow: none;
    background: #eeeeee;
    border-radius: 1px;
    border: 0px solid rgba(0, 0, 0, 0);
  }
  input[type=range]::-moz-range-thumb {
    border: none;
    box-shadow: none;
    height: $spacing * 0.5;
    width: $spacing;
    border-radius: 0px;
    background: $color-green;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: $spacing * 0.5;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #eeeeee;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    box-shadow: none;
  }
  input[type=range]::-ms-fill-upper {
    background: #eeeeee;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    box-shadow: none;
  }
  input[type=range]::-ms-thumb {
    border: none;
    box-shadow: none;
    height: $spacing * 0.5;
    width: $spacing;
    border-radius: 0px;
    background: $color-green;
    cursor: pointer;
    height: $spacing * 0.5;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #eeeeee;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #eeeeee;
  }  
}