@import "normalize-scss";
@import "global";
@import "typo";


html {
  box-sizing: border-box;
  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  ::selection {
    background: transparentize($color: $color-pink, $amount: 0.75);
  }

  font: normal normal #{$font-size}/1.5 "Inter", sans-serif;
  font-feature-settings: "ss01", "ss03", "cv10", "calt", "kern";
  color: $color-black;

  > * {
    @include min-width($medium) {
      font-size: 1.125rem;
    }
  }

  #app {
    // margin: $spacing $spacing / 2;
  }

  h1, h2, h3 {
    font-family: "Inter", sans-serif;
    // font-style: italic;
    color: $color-accent;
  }
  h1 {
    font-size: 3.5em;
    line-height: 0.82;
    letter-spacing: -0.08em;
    color: $color-black;
    margin: $spacing / 2 0 $spacing / 2;

    @include min-width($narrow) {
      font-size: 6em;
      margin: $spacing 0 $spacing;
    }
    @include min-width($medium) {
      font-size: 6em;
    }

    span {
      background: linear-gradient(0deg,transparent .12em,$color-accent 0,$color-accent .31em,transparent 0);
      &:nth-of-type(even) {
        padding-right: $spacing / 3;
      }
      
      // background: $color-accent;
    }
  }
  h2 {
    margin-top: $spacing;
  }
  h3 {
    font-size: 1em;
  }
  h3 + p {
    margin-top: 0;
  }

  p {
    margin: $spacing / 2 0;
    hyphens: auto;
  }

  ol {
    margin-left: $spacing;
  }

  ul {
    list-style: none;
    margin: 0 0 $spacing / 2 0;
    li:before {
      // content: '– ';
    }
  }

  li + li {
    margin-top: $spacing / 4;
  }

  li {
    a {
      &:before {
        content: '→ ';
      }
    }
  }

  .scrolly p {
    margin: 0;
  }

  .blur {
    border-radius: 2px;
    background: transparentize(#F2FCFB, 0.1);

    @supports (
      (-webkit-backdrop-filter: saturate(180%) blur(20px))
        or (backdrop-filter: saturate(180%) blur(20px))
    ) {
      background: transparentize(#F2FCFB, 0.3);
      -webkit-backdrop-filter: saturate(180%) blur(10px);
      backdrop-filter: saturate(180%) blur(10px);
    }
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity $transition;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .teaser {
    max-width: 70%;
    display: block;

    @include min-width($narrow) {
      font-size: 1.25em;
      max-width: 60%;
    }
  }

  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: $spacing * 0.5;
    cursor: pointer;
    box-shadow: none;
    background: $color-pale-gray;
    border-radius: 1px;
    border: 0px solid rgba(0, 0, 0, 0);
  }
  input[type=range]::-webkit-slider-thumb {
    border: none;
    box-shadow: none;
    height: $spacing * 0.5;
    width: $spacing;
    border-radius: 0px;
    cursor: pointer;
    -webkit-appearance: none;
    background: $color-accent;
  }
  input[type=range].yellow::-webkit-slider-thumb {
    background: $color-yellow;
  }
  input[type=range].green::-webkit-slider-thumb {
    background: $color-green;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $color-accent;
  }
  input[type=range].yellow:focus::-webkit-slider-runnable-track {
    background: $color-yellow;
  }
  input[type=range].green:focus::-webkit-slider-runnable-track {
    background: $color-green;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: $spacing * 0.5;
    cursor: pointer;
    box-shadow: none;
    background: $color-pale-gray;
    border-radius: 1px;
    border: 0px solid rgba(0, 0, 0, 0);
  }
  input[type=range]::-moz-range-thumb {
    border: none;
    box-shadow: none;
    height: $spacing * 0.5;
    width: $spacing;
    border-radius: 0px;
    background: $color-accent;
    cursor: pointer;
  }
  input[type=range].yellow::-moz-range-thumb {
    background: $color-yellow;
  }
  input[type=range].green::-moz-range-thumb {
    background: $color-green;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: $spacing * 0.5;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: $color-pale-gray;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    box-shadow: none;
  }
  input[type=range]::-ms-fill-upper {
    background: $color-pale-gray;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    box-shadow: none;
  }
  input[type=range]::-ms-thumb {
    border: none;
    box-shadow: none;
    height: $spacing * 0.5;
    width: $spacing;
    border-radius: 0px;
    background: $color-accent;
    cursor: pointer;
    height: $spacing * 0.5;
  }
  input[type=range].yellow::-ms-thumb {
    background: $color-yellow;
  }
  input[type=range].green::-ms-thumb {
    background: $color-green;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $color-pale-gray;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: $color-pale-gray;
  }  
}