@use "sass:color";

$spacing: 2rem;

$font-size: 100%;

$color-pink: #E229CF;
$color-green: #0ba391;
$color-purple: #7334d6;
$color-red: #FA084E;
$color-yellow: #f6bc0d;
$color-black: #2b1022;
$color-gray: #dddae8;
$color-deep-gray: #463340;
$color-pale-gray: #eeeeee;
$color-white: #ffffff;
$color-accent: $color-purple;


$color-light-pink: color.scale($color-pink, $lightness: 70%, $saturation: -40%);
$color-light-green: color.scale($color-green, $lightness: 70%, $saturation: -40%);
$color-light-purple: color.scale($color-purple, $lightness: 70%, $saturation: -40%);
$color-light-red: lighten($color-red, 40);
$color-light-yellow: color.scale($color-yellow, $lightness: 60%, $saturation: -10%);

$narrow: 600px !default;
$medium: 900px !default;
$wide: 1200px !default;

$max-width: 720px;

$transition: 0.4s;

@mixin min-width($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin tint($property) {
  &.pink {
    #{$property}: $color-pink;
  }
  &.green {
    #{$property}: $color-green;
  }
  &.purple {
    #{$property}: $color-purple;
  }
  &.red {
    #{$property}: $color-red;
  }
  &.yellow {
    #{$property}: $color-yellow;
  }
  &.gray {
    #{$property}: $color-deep-gray;
  }
}
@mixin tint-light($property) {
  &.pink {
    #{$property}: $color-light-pink;
  }
  &.green {
    #{$property}: $color-light-green;
  }
  &.purple {
    #{$property}: $color-light-purple;
  }
  &.red {
    #{$property}: $color-light-red;
  }
  &.yellow {
    #{$property}: $color-light-yellow;
  }
  &.gray {
    #{$property}: $color-gray;
  }
}

:export {
  pink: $color-pink;
  green: $color-green;
  purple: $color-purple;
  red: $color-red;
  yellow: $color-yellow;
  black: $color-black;
  gray: $color-gray;
  paleGray: $color-pale-gray;
  white: $color-white;
  light-pink: $color-light-pink;
  light-green: $color-light-green;
  light-purple: $color-light-purple;
  light-red: $color-light-red;
  light-yellow: $color-light-yellow;
}
