$spacing: 2rem;

$font-size: 100%;

$color-pink: #E229CF;
$color-green: #0ba391;
$color-purple: #7334d6;
$color-red: #FA084E;
$color-orange: #f68c0d;
$color-yellow: #f6bc0d;
$color-black: #2b1022;
$color-gray: #dddae8;
$color-pale-gray: #eeeeee;
$color-white: #ffffff;
$color-accent: $color-pink;

$narrow: 600px !default;
$medium: 900px !default;
$wide: 1200px !default;

$max-width: 720px;

$transition: 0.4s;

@mixin min-width($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

:export {
  pink: $color-pink;
  green: $color-green;
  purple: $color-purple;
  red: $color-red;
  orange: $color-orange;
  yellow: $color-yellow;
  black: $color-black;
  gray: $color-gray;
  paleGray: $color-pale-gray;
  white: $color-white;
}
