$spacing: 2rem;

$font-size: 100%;

$color-accent: #E229A2;
$color-green: #0BA391;
$color-purple: #7334D6;
$color-red: #FA084E;
$color-yellow: #F6BC0D;
$color-black: #2B1022;
$color-gray: #DDDAE8;
$color-pale-gray: #EEEEEE;
$color-white: #ffffff;

$narrow: 600px !default;
$medium: 900px !default;
$wide: 1200px !default;

$max-width: 720px;

$transition: .4s;

@mixin min-width($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}