@font-face {
  font-family: 'Plex Mono';
  src: url('~@/assets/fonts/IBMPlexMono-Bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Plex Mono';
  src: url('~@/assets/fonts/IBMPlexMono-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Plex Sans';
  src: url('~@/assets/fonts/IBMPlexSans-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Plex Sans';
  src: url('~@/assets/fonts/IBMPlexSans-Italic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: 'Plex Sans';
  src: url('~@/assets/fonts/IBMPlexSans-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Plex Sans';
  src: url('~@/assets/fonts/IBMPlexSans-SemiBoldItalic.woff') format('woff');
  font-style: italic;
  font-weight: bold;
}